@font-face {
	font-family: njnaruto;
	src: url(./font/njnaruto.ttf)
}

article h2, header h1 {
	font-family: njnaruto;
}

header {
    background: #75c1cc url('./img/sky.webp') no-repeat center/cover;
}

header h1{
    text-align: center;
    font-size: 3em;
}

nav {
    background-color: #273750;
    list-style-type: none;
    text-align: center; 
    font-family: njnaruto;
}

nav a{
    color: #FA9427;
}

nav ul{
    padding: 0;
    margin: 0;
}
nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px
}

nav li:hover{
    background-color: red;
}

body{
    background-color: #FA9427;
}

main {
    background-color: #FA9427;
    background-position-y: center;
    background-repeat: no-repeat;
    background-image: url("./img/bg_story_en.jpg");
    background-size: 100%;
}