@font-face {
    font-family: njnaruto;
    src: url('./font/njnaruto.ttf')
}

body {
    background-color: orange;
    background-image: url('./img/bg_story_en.jpg');
    background-position: 15% 75%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    overflow-x: hidden;
}

header {
    background: #75c1cc url('./img/sky.webp') no-repeat center/cover;
    font-family: njnaruto;
}

header h1 {
    text-align: center;
    font-size: 6em;
    z-index: 3;
    position: relative;
}

nav {
    background-color: #273750;
    list-style: none;
    text-align: center;
    position: relative;
    z-index: 2;
}

nav a {
    color: #FA9427;
}

.page_actuel a{
    color: #d87811;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

nav li:hover {
    transform: scale(1.2);
}

.nuage_en_mouvement {
    background-image: url("./img/cloud.png");
    height: 300px;
    width: 850px;
    top: 0;
    position: absolute;
    margin-right: 0;
    overflow: hidden;
    animation: 20s linear 0s infinite normal move_cloud;
}

@keyframes move_cloud {
    from {
        margin-left: -50%;
    }

    to {
        margin-left: 100%;
    }
}

footer {
    background-color: #FA9427;
    border: solid;
    margin: 1em;
    padding: 1em;
}

header, footer{
    flex-basis: 99%;
    flex-grow: 1;   
}