main, section{
    display: flex;
    flex-wrap: wrap;
}

main{
    flex-basis: 99%;
    flex-grow: 1;
    justify-content: center;
}

section{
    text-align: center;
    justify-content: center;
    background-color: #FA9427;
    border: solid;
    margin: 1em;
    /* padding: 1em; */
    flex-basis: 15%;
}

section h2, section p{
    flex-basis: 99%;
    flex-grow: 1;
}

section img{
    width: 70%;
}