@font-face {
	font-family: njnaruto;
	src: url(./font/njnaruto.ttf)
}

article h2, header h1 {
	font-family: njnaruto;
}

header h1{
    text-align: center;
    font-size: 3em;
}

nav {
    background-color: #273750;
    list-style-type: none;
    text-align: center; 
    font-family: njnaruto;
}

nav a{
    color: #b45c34;
}

nav ul{
    padding: 0;
}
nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px
}

nav li:hover{
    background-color: red;
}

body{
    background-color: #b45c34;
}