@font-face {
	font-family: njnaruto;
	src: url('./font/njnaruto.ttf')
}

article h2, header h1 {
	font-family: njnaruto;
}

header {
    background: #75c1cc url('./img/sky.webp') no-repeat center/cover !important;
}

header h1{
    text-align: center;
    font-size: 6em;
}

nav {
    background-color: #273750;
    list-style-type: none;
    text-align: center; 
    font-family: njnaruto;
    
}

nav a{
    color: #FA9427;
}

nav ul{
    padding: 0;
    margin: 0;
}
nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px
}

nav li:hover{
    background-color: red;
}

body{
    background-color: orange;
}

aside {
    background-position-y: center;
    background-repeat: no-repeat;
    background-image: url("./img/bg_story_en.jpg");
    background-size: 100%;
}

section, aside, footer {
    background-color: #FA9427;
    border-color: black;
    border: solid;
    margin: 2em;
    padding: 2em;
}

.cylon_eye {
    top: auto;
    background-image: url("./img/cloud.png");
    background-repeat: no-repeat;
    height: 300px;
    width: 850px;
    top: 0;
    position: absolute;
    margin-right: 0;
  
    -webkit-animation: 10s linear 0s infinite alternate move_cloud;
    animation: 10s linear 0s infinite alternate move_cloud;
  }
  
  @-webkit-keyframes move_cloud {
    from {
      margin-left: -20%;
    }
    to {
      margin-left: 100%;
    }
  }
  @keyframes move_cloud {
    from {
      margin-left: -20%;
    }
    to {
      margin-left: 100%;
    }
  }